body {
	/*background-image: url("resources/background.png");*/
	background-color: rgb(37, 37, 37) !important;
	-webkit-print-color-adjust: exact;
	
	font-family: "Proxima Nova Regular", "Open Sans", sans-serif;
	color: white;

	/*padding: 0% 10%;*/
	padding: 0;
	margin: 0;
	width: 100%;
}

header {
	background: rgba(0, 0, 0, 0.9);
	
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 6.5em;
	margin: 0;
	padding: 0;
	z-index: 50;
	
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.9);
	transition: ease-in-out top 0.5s;
}
.header-animate {
	top: -5em;
}

#title {
	font-family: "Impact", sans-serif;
	font-size: 2em;
	font-weight: 300;
	font-stretch: expanded;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	
	display: inline-block;
	position: relative;
	left: 50%;
	margin-top: 1em;
	margin-bottom: 1em;
	
	transform: translate(-50%, 0%);
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	
	transition: ease-in-out font-size 0.5s; /*, left 0.5s;*/
}

.title-animate {
	/*font-size: 1.5em !important;*/
	/*left: 7em !important;*/
}

h1, h2, h3, h4, h5 {
	font-family: "Sansation", "Impact", sans-serif;
	font-weight: bold;
}

#content>h2 {
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
	padding-left: 0 !important;
	
	display: block;
	background-color: #484848;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	
	color: white;
	text-align: center;
	text-transform: uppercase;
}

#navigator {
	text-align: center;
	
	width: 100%;
	padding: 0;
	
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: ease-in-out height 0s, opacity 0.5s;
}
#navigator>tbody>tr {
	margin-left: 0px;
	margin-right: -1px;
}
#navigator>tbody>tr>td {
	padding-right: 0.5em;
	transition: ease-in-out background 0.4s;
	vertical-align: middle;
}
#navigator>tbody>tr>td:hover {
	background: #444444;
}
#navigator>tbody>tr>td>a {
	display: block;
	
	vertical-align: middle;
	
	font-size: 1.5em;
	font-family: 'Times New Roman';
	color: white;
	text-decoration: none;
}
#navigator>tbody>tr>td>a>img {
	display: inline-block;
	vertical-align: middle;
}
#navigator>tbody>tr>td>a>span {
	margin-left: 5px;
	display: none;
}
#navigator>tbody>tr>td:hover>a>span {
	display: inline-block;
}
.header-animate>#navigator {
	height: auto;
	opacity: 1;
}

#header-image {
	margin-top: calc(6em + 8px);
	margin-bottom: -4px;
}

#content {
	/*width: 100% !important;*/
	margin: 0;
	padding: 0 !important;
	vertical-align: top;
}
#content>* {
	padding-left: 2.5em;
}
#content>img {
	padding-left: 0;
}
#content>table {
	padding-left: 8px;
	margin-left: 2.5em;
}
#content>h1, #content>h2, #content>h3, #content>h4, #content>h5 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 0;
	padding-left: 1.5em;
}

a {
	cursor: pointer;
	color: #9B7CFF;
	font-weight: 600;
	text-decoration: none;
}
a:hover {
	color: #4495D4;
	text-decoration: underline;
}
a:after {
	/*color: darkblue;*/
}

p {
	padding: 1em 2.5em 0 2.5em;
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	margin: 0;
	border-color: #FFFFFF;
}

li {
	margin-left: 2.5em;
	margin-right: 2.5em;
	padding-bottom: 0.3em;
	font-size: 0.9rem; /* @note: rem stands for root element. */
}

table {
	background-color: #363636;
	border: 1px solid #424242;
	border-radius: 3px;
	color: white;
}
table td, table th {
	border-top-color: black;
	border-bottom: 1px solid #3E3C3C;
}
table th {
	padding: 3px 0px 3px 8px;
	line-height: 1.3em;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
table td {
	padding: 4px 7px 4px;
	vertical-align: top;
	font-size: 12px;
}
table tr:last-child>td, table tr:last-child>th {
	border-bottom: 0;
}

.division {
	/*background: rgba(255,255,255,0.6);*/
	padding-top: 1em;
	padding-bottom: 1em;
	/*border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	border-radius: 2px;*/
}

div.slideshow {
	position: relative;
	max-width: 495px;
	height: 370px;
	margin: 5em auto .5em auto;
	padding-left: 0;
}
div.slideshow figure {
	
}
figure {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	margin: 1em 1em;
	padding-left: 0 !important;
}
figure>img {
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	width: inherit;
	box-shadow: 0px 0px 2px #666666;
}
figure>.figcaption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 12px;
	margin: 0;
	
	background: rgba(0,0,0, .3);
	color: white;
	font-size: 0.8rem; /* @note: rem stands for root element. */
	
	opacity: 0;
	transition: ease-in-out opacity .5s;
}
.slideshow:hover figure .figcaption, figure:hover .figcaption {
	opacity: 1;
	transition: ease-in-out opacity .5s;
}

/* Dark inset block or section. */
quotation, div.data-slideshow {
	display: block;
	background-color: #484848;
	border-top: 1px solid #262626;
	margin: 1em 0em 1em 0em;
	
	color: white;
}

/* Quotations */
quotation {
	background-color: #2C2C2C;
	border-top: 1px solid #4B4B4B;
	border-bottom: 1px solid #575757;
	padding: 1em 2em 1em 2em;
	margin-bottom: 0;
	font-style: oblique;
}
.quotation-author {
	display: block;
	text-align: right;
	font-style: normal;
}

/* Slideshows of data along with title and images */
div.data-slideshow {
	margin-top: 0;
	padding-left: 0 !important;
	position: relative;
	overflow: auto;
}
div.data-slideshow>ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0 !important;
}
div.data-slideshow>ul>li, div.data-slideshow>ul {
	width: 100%;
	margin: 0;
	padding: 0 0 2em 0;
	float: left;
	background-color: #484848;
	list-style: none;
}
div.data-slideshow>ul>li>h1, div.data-slideshow>ul>li>h2, div.data-slideshow>ul>li>h3, div.data-slideshow>ul>li>h4, div.data-slideshow>ul>li>h5 {
	padding-left: 2.5em !important;
}
div.slideshow-header {
	background-color: #3F3F3F;
	border-top: #505050 1px solid;
	
	margin-bottom: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 64px;
	
	text-align: center;
	vertical-align: middle;
}
div.slideshow-header>span      { display: inline-block; color: white; }
div.slideshow-header>span>h3   { margin-bottom: 0;                    }
div.slideshow-header>span>span { font-size: 0.8em;                    }
a.slideshow-arrow {
	position: absolute;
	margin: auto;
	width: auto;
	opacity: 0.6;
	transition: ease-in-out opacity 0.2s;
}
a.slideshow-arrow:hover {
	opacity: 1.0;
}
a.slideshow-arrow.prev { left: 0%;  /*border-right: 1px dotted #7D7D7D;*/ }
a.slideshow-arrow.next { right: 0%; /*border-left:  1px dotted #7D7D7D;*/ }
a.slideshow-arrow>img {
	height: inherit;
	width: inherit;
}
div.data-slideshow>ul>li>div.slideshow-frameheader {
	position: relative;
	background-color: #2C2C2C;
	width: 100%;
	height: 3.8em;
	
	text-align: center;
	vertical-align: middle;
}
div.data-slideshow>ul>li>div.slideshow-frameheader>h3 {
	display: inline-block;
	margin: 1em 0;
	padding: 0;
}
div.data-slideshow>ul>li>.slideshow-figures {
	background-color: black;
	height: auto;
	width: 100%;
}
div.data-slideshow>ul>li>div.slideshow-figures>figure {
	display: inline-block;
	background-color: black;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: auto !important;
	margin-right: auto !important;
	box-shadow: none !important;
}
div.data-slideshow>ul>li>div.slideshow-figures>figure>img {
	height: 40em !important;
	width: auto !important;
	box-shadow: none !important;
}
div.data-slideshow>ul>li>div.slideshow-figures>table {
	float: right;
	width: 20%;
	border-radius: 0;
	height: auto;
	border-top: 0;
	border-bottom: 0;
}

div#moon {
	padding-left: 0;
}
div#moon>h3, div#moon>h4 {
	padding-left: 1.5em;
	
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(resources/fonts/OpenSans-400-normal.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: url(resources/fonts/OpenSans-600-semibold.ttf) format('truetype');
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	src: url(resources/fonts/BebasNeue.otf) format('opentype');
}

@font-face {
	font-family: 'Sansation';
	font-style: normal;
	font-weight: bold;
	src: url(resources/fonts/Sansation_Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Proxima Nova Regular';
	font-style: normal;
	font-weight: normal;
	src: url(resources/fonts/ProximaNova_Regular.eot) format("embedded-opentype");
}

@font-face {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: normal;
	src: url(resources/fonts/times.ttf) format('truetype');
}